
<h2 id="title">Welcome to Ember</h2>

{{json-editor-for
  model onChange=(action (mut model))
  mode=mode onModeChange=(action (mut mode))
  focus=focus
  collapseAll=true
}}

<button onclick={{route-action 'onClick'}}>focus: {{focus}}</button>

{{#power-select
  options=modes
  selected=mode
  onchange=(route-action 'onModeChange')
  searchEnabled=false
  as |name|
}}
  {{name}}
{{/power-select}}

