
<h2 id="title">Welcome to Ember</h2>

{{json-editor-for model
  onChange=(action (mut model))
  onError=(route-action 'onError')
  mode='code'
}}

{{!--

  TODO:

    expanded
    focused
    model can be a string (.setText)

--}}

